---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"writing">;
}

const { post } = Astro.props;
---

<div class="blog-card">
  <p class="date">{post.data.date}</p>
  <h3><a href=`/writing/${post.id}`>{post.data.title}</a></h3>
  <p class="description">{post.data.description}</p>
  <div>
    {
      post.data.tags.map((tag) => (
        <p class="post-tags">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</div>
