---
import type { CollectionEntry } from "astro:content";
import { fade } from "astro:transitions";

// interface Props {
//     post: CollectionEntry<"blog">;
// }

const { post } = Astro.props;
---

<div class="post-card">
    <div class="post-type">
        <a href=`/${post.collection}`>
            {post.collection}
        </a>
    </div>
    <h3 class="post-heading">
        <a href=`/${post.collection}/${post.id}`> {post.data.title}</a>
    </h3>

    <div class="post-metadata">
        <div class="post-date">
            <svg class="i i-calendar" viewBox="0 0 24 24">
                <rect width="18" height="17" x="3" y="5" rx="2"></rect>
                <path d="M7 2v3m10-3v3M3 10h18"></path>
            </svg>

            {post.data.date.toLocaleDateString()}
        </div>

        <div class="post-tags">
            <svg class="i i-tag" viewBox="0 0 24 24">
                <path d="M12 2H2v10l8.5 8.5q1.5 1.4 3 0l7-7q1.4-1.5 0-3ZM7 7h0"
                ></path>
            </svg>
            {post.data.tags.map((tag) => <a href={`/tags/${tag}`}>{tag}</a>)}
        </div>
    </div>
    <p class="post-description">
        {post.data.description}
    </p>
</div>

<style>
    .cta {
        margin-block-start: var(--size-1);

        a {
            font-size: var(--font-size-fluid-0);
        }
    }
</style>
