---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"writing">;
}

const { post } = Astro.props;
---

<div class="post-card">
  <h3 class="post-title">
    <a href=`/writing/${post.id}`>{post.data.title}</a>
  </h3>
  <p class="post-date">Posted on: {post.data.date.toLocaleDateString()}</p>
  <p class="post-description">{post.data.description}</p>
  <div>
    {
      post.data.tags.map((tag) => (
        <p class="post-tags">
          <a href={`/tags/${tag}`}>#{tag}</a>
        </p>
      ))
    }
  </div>
</div>
