---
import { getCollection, render } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

const posts = await getCollection("writing");
posts.sort((a, b) => {
  const dateA = new Date(a.data.date);
  const dateB = new Date(b.data.date);
  return dateB.getTime() - dateA.getTime();
});

const { post } = Astro.props;
const { Content } = await render(post);
const pageTitle = post.data.title;
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <div class="post-header">
      <h1 class="post-heading">{post.data.title}</h1>

      <div class="post-metadata">
        <div class="post-date">
          <span class="material-symbols-outlined"> calendar_today </span>
          {post.data.date.toLocaleDateString()}
        </div>

        <div class="post-tags">
          <span class="material-symbols-outlined"> sell </span>
          {post.data.tags.map((tag) => <a href={`/tags/${tag}`}>{tag}</a>)}
        </div>
      </div>
    </div>
    <div class="post-container">
      <article>
        <Content />
      </article>

      <!-- <aside>
        <h4>Table of Contents</h4>
      </aside> -->
    </div>
  </div>
</BaseLayout>
